// Colors
$primary-color: white;
$accent-color: #4B45C6;
$blue-accent: rgba(74, 69, 198, 0.44);
$blue-accent-light: rgba(74, 69, 198, 0.16);
$blue-accent-lightest: rgba(74, 69, 198, 0.2);

$db-primary: #4A44C7;
$db-accent: #8B92E3;

// Size variables
$extra-small-spacing: 15px;
$small-spacing: 25px;
$base-spacing: 50px;
$double-spacing: 100px;

// Paddings and margins
$container-padding: $base-spacing;

// Typography
$base-family: 'Reno Mono';