#footer {
  @mixin text {
    font-family: 'Reno Mono';
    font-weight: 100;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.5);
  }
  span { @include text; }
  a {
    @include text;
    color: white;
  }
  h6{
    @include text;
    padding-left: 14px;
    font-size: 0.5rem;
    background-image: url(/images/landing-graphics/separator.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 12px;
  }
}
@mixin background-gradient {
  width: 100vw;
  height: 100%;
  z-index: -100;
  background-image: url(/images/bg-gradient-top-left.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;

}
.background-gradient-bottom { @include background-gradient; }

.background-gradient-top {
  @include background-gradient;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
}
