#footer {
  min-height: 300px;
  padding-top: 75px;
  letter-spacing: -.05rem;

  @mixin text {
    font-family: 'Reno Mono';
    font-weight: 100;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
  }
  span { @include text; }
  a {
    @include text;
    color: white;
  }
  h6{
    @include text;
    font-size: 1rem;
    //padding-left: 14px;
    // font-size: 0.5rem;
    background-image: url(/images/landing-graphics/separator.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 12px;
  }
}
@mixin background-gradient {
  width: 100vw;
  height: 100%;
  z-index: -100;
  background-image: url(/images/bg-gradient-top-left.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;

}
.background-gradient-bottom { @include background-gradient; }

.bg-white{
  color: #111;
  padding-bottom: 50px; 
  border-bottom: 15px solid #8b8fe9;
}

.landing-header {
  padding: 10% 0 0% 0;
  margin-top: 15px;
}

.landing-img img {
  max-width: 100%;
}

.landing-text {
  margin: auto;
}

.landing-text .col-sm {
  max-width: 320px;
  margin: auto;
}

.landing-text-inner .btn-outline-primary {
  display: none;
}

button.cta-btn.dark {
  background: #1d0c3f;
  color: #fff;
  font-weight: bold;
}

.socialproof-icons img {
  max-width: 150px;
  filter: invert(100%) grayscale(1);
  padding: 0 10px;
  max-height: 50px;
  margin: auto;
}

#register-form .row {
  padding: 10px 0;
}

#register-form .input-group {
  padding-top: 30px;
}

.landing-content .row .absolute-center {  
  -ms-flex-pack:end;
  -moz-box-pack:end;
  -webkit-box-pack:end;
  box-pack:end;
}

.landing-content .row .landing-img{
  order: 2;
}
section.landing-content .row:nth-child(2n) .landing-img{
  order: 1;
}
.landing-content .row:nth-child(2n) .landing-text{
  order: 2;
}
.landing-content .row:nth-child(2n) .absolute-center {  
  -ms-flex-pack:start;
  -moz-box-pack:start;
  -webkit-box-pack:start;
  box-pack:start;
}

.landing-content {
  margin-bottom: 45px;
}

.landing-titles{
  font-size: 32px; 
  line-height: 44px;
}
.landing-text-inner p{
  font-size: 18px;  
  line-height: 32px;
}

.landing-titles{
  font-size: 32px; 
  font-weight: 500; 
  letter-spacing: -0.58px; 
  line-height: 44px;
  text-align: center;
}

.landing-text-inner{
  float: right;
  text-align: center;
}

.landing-img img{
  max-width: 100%;
}
.landing-text-inner p{
  color: #66758D;
  font-size: 18px;  
  line-height: 32px;
}

.landing-content .row.pt-7 {
  padding: 2em 0;
}

.landing-header a.cta-btn {
  color: #fff;
}

.landing-header a.cta-btn:hover {
  color: #fff;
  background:#3e2a6d;
}

.background-gradient-top {
  @include background-gradient;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.cutCorner {
  position: relative;
  background-color: blue;
  border: 1px solid silver;
  display: inline-block;
  border-radius: 0;
  div {
    line-height: 1;
    --webkit-appearance: none;
  }
  &:before {
    position:absolute;
    right:-1px;
    bottom:-1px;
    content:'';
    border-bottom: 30px solid silver;
    border-left: 30px solid transparent;
  }
  &:after {
    position:absolute;
    right:-2px;
    bottom:-2px;
    content:'';
    border-bottom: 30px solid black;
    border-left: 30px solid transparent;
  }
}

#newsletter-email {
  border-radius: 0px;
  background: #231830;
  border: 0px;
  margin: 0px !important;
  float:left;
  width: 70%;
  font-family: "Reno Mono";
  color: white;
  height: 42px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

#newsletter-submit {
  width: 30%;
  float: right;
  color: #FFFFFF;
  font-family: "Reno Mono";
  font-size: 15.3px;
  line-height: 29px;
  background: #4c425a;
  text-align: center;
  border: 0px solid #686071;
  border-radius: 0px;
  margin: 0px;
  height: 42px;
  border-bottom-right-radius: 1rem;
  &:hover {
    background: white;
    color: black;
  }
}
