#footer {
  @mixin text {
    font-family: 'Reno Mono';
    font-weight: 100;
    // font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.5);
  }
  span { @include text; }
  a {
    @include text;
    color: white;
  }
  h6{
    @include text;
    padding-left: 14px;
    // font-size: 0.5rem;
    background-image: url(/images/landing-graphics/separator.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 12px;
  }
}
@mixin background-gradient {
  width: 100vw;
  height: 100%;
  z-index: -100;
  background-image: url(/images/bg-gradient-top-left.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;

}
.background-gradient-bottom { @include background-gradient; }

.background-gradient-top {
  @include background-gradient;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.cutCorner {
  position: relative;
  background-color: blue;
  border: 1px solid silver;
  display: inline-block;
  border-radius: 0;
  div {
    line-height: 1;
    --webkit-appearance: none;
  }
  &:before {
    position:absolute;
    right:-1px;
    bottom:-1px;
    content:'';
    border-bottom: 30px solid silver;
    border-left: 30px solid transparent;
  }
  &:after {
    position:absolute;
    right:-2px;
    bottom:-2px;
    content:'';
    border-bottom: 30px solid black;
    border-left: 30px solid transparent;
  }
}

#newsletter-email {
  border-radius: 0px;
  background: #231830;
  border: 0px;
  margin: 0px !important;
  width: 70%;
}

#newsletter-submit {
  width: 30%;
  float: right;
  color: #FFFFFF;
  font-family: "Reno Mono";
  font-size: 15.3px;
  line-height: 29px;
  background: #4c425a;
  text-align: center;
  border: 0px solid #686071;
  border-radius: 0px;
  margin: 0px;
}

#newsletter-submit:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 20px 20px 0 0;
  border-style: solid;
  border-color: transparent #180933 transparent transparent;
  background: transparent;
}