$primary-color: white;
$accent-color: #4B45C6;
$blue-accent: rgba(74, 69, 198, 0.44);
@import 'typography';
@import 'menu';
@import 'landing-page';
@import 'footer';

.row.full-height {
  min-height: 97vh;
}

body {
  color: $primary-color;
  background-color: black;
  background-image: url(/images/v2/scifi-background-tile.svg);
  background-size: 300px auto;
  background-position: center 32px;
  height: 100%;
  overflow-x: hidden;
}

.blue-box {
  background-color: $blue-accent;
  border-radius: 0px 20px;
  padding: 80px 0px;
}

.blue-icon {
  background-color: $blue-accent;
  border-radius: 99rem;
  padding-top: 1px;
}

.imgs-fluid img {
  max-width: 100%;
  height: auto;
}

.mt-block {
  margin-top: 10rem;
}

.a-block {
  p { color: white; }
  &:hover { text-decoration: none; }
}

.pl-10 {
  padding-left: 3rem;
}

// pricing
.box-light {
  background-color: $blue-accent;
  border-radius: 0 20px;
  padding: 4.5rem 0;
  margin-top: 6rem;
}

.box-darker{
  background-color: $blue-accent;
  border-radius: 0 20px;
  h2 {
    margin-top: 3rem;
  }
  .reccomended-badge {
    background: #4A45C6;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 9px 15px;
    position: relative;
    top: -12px;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.8);
  }
}
.box-light, .box-darker {
  h6 {
    margin: 1rem 0 0;
    font-weight: 900;
    line-height: 1.4rem;
  }
}

.details-table {
  margin-top: 100px;
  .header-row > td {
    padding-top: 15px;
  }
  td {
    padding-left: 10px;
  }
  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    line-height: 2.5rem;
  }
  col.pro-column {
    padding-top: 20px;
    background-color: rgba(74, 69, 198, 0.2);
    border-radius: 0px 20px;
    border: 1px solid black;
  }
}

.br-blue-shadow {
  -webkit-box-shadow: 30px 30px 0px 0px $blue-accent;
  -moz-box-shadow: 30px 30px 0px 0px $blue-accent;
  box-shadow: 30px 30px 0px 0px $blue-accent;
}
.bl-blue-shadow {
  -webkit-box-shadow: -30px 30px 0px 0px $blue-accent;
  -moz-box-shadow: -30px 30px 0px 0px $blue-accent;
  box-shadow: -30px 30px 0px 0px $blue-accent;
}
