$primary-color: white;
$accent-color: #4B45C6;

@import 'typography';
@import 'menu';
@import 'landing-page';
@import 'footer';

.row.full-height {
  min-height: 95vh;
}
body {
  color: $primary-color;
  background-color: black;
  background-image: url(/images/v2/scifi-background-tile.svg);
  background-size: 192px auto;
  background-position: center 32px;
  height: 100%;
  overflow-x: hidden;
}


button {
  position: relative;
  border-radius: 99rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .25);
  color: white;
  cursor: pointer;
  transition: all .3s;
  font-family: 'Reno Mono', monospace;
  line-height: 0;
  padding: 1.2rem 2rem 1.1rem;
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 1.3rem 1.6rem 1.1rem;
  }
  &.cta-btn {
    background: white;
    color: black;
    min-width: 10rem;
  }
  &.cta-btn:hover {
    background: #4B45C6;
    color: white;
    border: 1px solid #4B45C6;
  }
  &.cta-btn:active {
    background: rgb(51, 46, 134);
    color: white;
    border: 1px solid rgb(51, 46, 134);
  }
  &:hover {
    transition: all .1s;
    background: rgba(255, 255, 255, 0.2);
  }
  &:active {
    transition: all 0s;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.2);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2pt rgba(103, 38, 255, 0.4);
  }
}

a {
  &.cta-btn {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 8px 8px 8px;
    line-height: 33px;
  }
}

// START PRICING STYLE
$border: 25px;

.free-box {
  margin: 5% auto;
  color: #FFF;
  border-radius: .75em;
  // margin-top: 55px !important;
  background: #140c1e;
  -webkit-box-shadow: inset 0 0 40px 20px #2c1f3a;
  box-shadow: inset 0 0 40px 20px #2c1f3a;
  padding: 35px 25px;

  
}

.pro-box {
  margin: auto;
  padding: 15px 1em;
  border-radius: 1em;
  z-index:9;
  
  padding: 35px 25px;

  &:before {
    content: '';
    position: absolute;
    top: 0px; right: 0; bottom: 0; left: 0;
    z-index: -1;
    border: 1px solid #615ae3;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: radial-gradient(#05020a 65%, #241931 115%);

    background: #0d0d0d;
    -webkit-box-shadow: inset 0 0 40px 20px #17172a;
    box-shadow: inset 0 0 40px 20px #17172a;
  }
}

.custom-box {
 
  margin: 5% auto;
  color: #FFF;
  border-radius: .75em;
  // margin-top: 55px !important;
  background: #0d0d0d;
  -webkit-box-shadow: inset 0 0 40px 20px #1f1f1f;
  box-shadow: inset 0 0 40px 20px #1f1f1f;
  padding: 35px 25px;

 }

 .pricing-val-spec
 {
  color: #FFFFFF;	font-family: "Reno Mono";	font-size: 11.2px;	line-height: 19px;	text-align: center;
 }

ul.pricing-features {
  list-style: none;
  padding-left: 0px;
  opacity: 0.5;
  color: #FFFFFF;
  font-family: "SF UI Text";
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}



.slider.slider-horizontal .slider-track
{
  height: 1px !important;
  margin-top: 0px !important;
}


.cost {    
  height: 60px;
  color: #FFFFFF;
  font-family: "Reno Mono";
  font-size: 56px;
  letter-spacing: -3px;
  line-height: 60px;
  text-align: center;
}

.contact-us-title {	height: 40px;	color: #FFFFFF;	font-family: "Reno Mono";	font-size: 43px;	letter-spacing: -4.61px;	line-height: 40px;	text-align: center;}

.pricing-title {
	height: 31px;
	color: #FFFFFF;
	font-size: 19px;
	letter-spacing: -0.26px;
	line-height: 31px;
	text-align: center;
}

p.price-vat {
  margin-top: 25px;
}

.video-frame {
  width: 100%;
  height: 80vmin;
}

.product-feature {
  border-radius: 10px;
  border: 5px solid #7373e2;
  &:before {
    box-shadow: inset 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
  }
}

// END PRICING STYLE

.caption {
  font-size: .8em;
  font-style: italic;
  margin-top: 2px;
  padding-top: 0px;
  text-align: center;
}

.team-management img, .team-team img {
  max-width: 275px;
}