#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 23rem;
  margin: .75rem;
  border-radius: 2rem;
  background: white;
  z-index: 101;
  transform: translateX(120%);
  transition: all 0.4s cubic-bezier(0, 0, 0.1, 1);
  overflow: hidden;
  color: black;

  @media (max-width: 768px) {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
  &.show {
    transform: translateX(0%);
  }
  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
  }

  .navigation a {
    font-size: 2rem;
    color: #fff;
  } 

  .menu-container {
    width: 200%;
    height: 100%;
    display: flex;
    transition: transform .3s;
    background-color: black;
    background-image: url(/images/v2/scifi-background-tile.svg);
    background-size: 192px auto;
    background-position: center 32px;
    height: 100%;
  }
  .login, .register {
    transition: all .3s;
    position: absolute;
    width: calc(100% - 72px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .login-container {
    width: 50%;
    height: 100%;
    position: relative;
    background: #fff;
    padding: 10% 36px;
  }
  &.login, &.register {
    .menu-container {
      transform: translateX(-50%);
    }
  }
  &.register .login-container .login {
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
  }
  &.login .login-container .register {
    transform: translateX(50%);
    opacity: 0;
    pointer-events: none;
  }
  .navigation {
    width: 50%;
    height: 100%;
    padding: 10% 0;
    background-image: url("/images/bg-gradient-top-left.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }


  &.login, &.register {
    // padding: 3rem 2rem;
  }
  p {
    // margin-top: -1rem;
  }
  input {
    font-family: 'Reno mono';
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 999rem;
    padding: .75rem .5rem .5rem 1rem;
    min-height: 3rem;
    line-height: 0%;
    &:active {
      border: 1px solid rgba(0, 0, 0, .75);
    }
  }
  input, button {
    width: 100%;
    margin-bottom: .25rem;
    letter-spacing: -.075rem;
  }
  input{
    line-height: normal !important;
  }
  button {
    min-height: 3rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 2rem;
    &.cta-btn {
      background: $accent-color;
      color: white;
    }
    &.github {
      margin-bottom: 2rem;
      img {
        margin: -1rem 0;
      }
    }
  }
  p.center {
    text-align: center;
  }
  .footer {
    p {
      text-align: center;
      margin-bottom: 1rem;
      &.privacy {
        font-size: .75rem;
        color: rgba(0, 0, 0, .35);
        width: 75%;
        margin: auto;
        a {
          color: rgba(0, 0, 0, .35);
          text-decoration: underline;
        }
      }
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s;
  &.show {
    opacity: 1;
    pointer-events: unset;
  }
}


nav {
  .navbar-brand {
    padding-top: 0;
    img {
      width: 7rem;
      @media (max-width: 768px) {
        width: 10rem;
      }
    }
  }
  ul.nav {
    li {
      &:before {
        display: none;
      }
    }
    a {
      font-family: 'Reno mono', monospace;
      color: white;
      font-size: 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
