#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  margin: .75rem;
  border-radius: 1rem;
  background: white;
  z-index: 101;
  transform: translateX(120%);
  transition: all 0.4s cubic-bezier(0, 0, 0.1, 1);
  overflow: hidden;
  color: black;
  @media (max-width: 768px) {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
  &.show {
    transform: translateX(0%);
  }
  .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 1;
  }
  .menu-container {
    width: 200%;
    height: 100%;
    display: flex;
    transition: transform .3s;
  }
  .login, .register {
    transition: all .3s;
    position: absolute;
    width: 100%;
  }
  .login-container {
    width: 50%;
    height: 100%;
    position: relative;
  }
  &.login, &.register {
    .menu-container {
      transform: translateX(-50%);
    }
  }
  &.register .login-container .login {
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
  }
  &.login .login-container .register {
    transform: translateX(50%);
    opacity: 0;
    pointer-events: none;
  }
  .navigation {
    width: 50%;
    height: 100%;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s;
  &.show {
    opacity: 1;
    pointer-events: unset;
  }
}