@font-face {
  font-family: 'Reno Mono';
  src: url('/fonts/RenoMono.woff2') format('woff2'), /* Modern Browsers */
        url('/fonts/RenoMono.ttf') format('truetype'); /* Safari, Android, iOS */
            font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  background-color: black;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: .05rem;
  color: white;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  letter-spacing: -.1rem;
}
h1.display-4 {
  letter-spacing: -.5rem;
  @media (max-width: 768px) {
    font-size: 2.5rem;
    letter-spacing: -.25rem;
  }
}

a {
  color: $accent-color;
}

p {
  margin-bottom: 1.25em;
  line-height: 200%;
}
p.subtitle {
  font-family: 'Reno Mono', monospace;
  opacity: .5;
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Reno Mono', monospace;
  font-weight: 400;
  line-height: 1.15;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
