html, body {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }
h1 { font-size: 2.4rem; }
h2 { font-size: 1.1rem; }
.corner-btn {
  line-height: 65px;
  height: 65px;
  background: #4B45C6;
}
nav {
  box-shadow: inset 0 -0.5px 0 0 #f0f0f0;
  padding: 14px 0 11px;
  height: 65px;
}
.navbar-toggler { border: none }
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}
.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  -o-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  top: -13px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}
.w-130 { width: 130px; }
.h-80 { height: 80px; }
.h-70 { max-height: 70px; }
.logo {
  color: #323748;
  font-size: 1.3em;
}
.logo-image {
  height: 40px;
  margin-left: 24px;
}
.navbar-light .navbar-nav a.nav-link {
  display: block;
  text-align: left;
  color: #66758D;
  margin: 0 12px;
}
.navbar-light .navbar-nav a.nav-link:hover {
  color: #000000;
  text-decoration: underline;
}
.btn-blue {
  border-radius: 3px;
  background-color: #4046ad;
  cursor: pointer;
}
.btn-blue:hover {
  background-color: #2f359f;
}
.effect-u:before, .effect-u:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}
.effect-u {
  display: inline-block;
  padding-top: 8px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  line-height: 24px;
}
.effect-u:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: translateX(-100%);
}
.effect-u:hover:before {
  transform: translateX(0);
}

.ic-arrow {
  object-fit: contain;
  margin: 4px 8px;
}
.slogan {
  margin-top: 85px;
  color: #323748;
}
.roboto { font-family: 'Roboto' }
.roboto-mono { font-family: 'Roboto Mono' }
.mw-250 {
  min-width: 250px;
}
.cta-input {
  padding: 13px 17px;
  border-radius: 5px !important;
  border: solid 0.5px #66758D;
  min-width: 400px;
}
.cta-btn{
  cursor: pointer;
  padding: 13px 17px;
  border-radius: 5px;
  max-width: 400px;
}
.cta-pink {
  background-color: #ed85a8;
  color: white;
  border: solid 0.5px #ed85a8;
}
.cta-pink:hover {
  background-color: #ed8ead;
  color: white;
  border: solid 0.5px #ed8ead;
}

input[type=text].form-control, select.form-control {
  border: solid 0.5px #4046ad;
}
input[type=text].form-control::placeholder {
  color: #4046ad;
  opacity: 0.48;
}

.gray {
  color: #9b9b9b;
}
.slab {
  /* font-family: 'Roboto Slab', sans-serif; */
  font-weight: 300;
  font-size: 1.2rem;
  color: #6d6f7b;
  line-height: 1.6;
}
.quote {
  color: #4046ad;
  font-size: 1.1rem;
}
.dark-bg {
  background-color: #F5F5FC;
  /* box-shadow: inset 0 0.5px 0 0 #f0f0f0, inset 0 -0.5px 0 0 #f0f0f0; */
}
.blue-bg {
  background-color: #4B45C6;
}

.blue-bg .h1 {
  font-weight: 900;
  color: #F29BBD;
}
.text-light-gray { color: #66758D; }
.blue-bg .text-light-gray { color: #BEBEDD; }
.footer {
  background-color: #30374A;
}
.underlined {
  background-image: linear-gradient(to top, #F4D1E2, #F4D1E2);
  background-position-y: 95%;
  background-repeat: repeat-x;
  background-size: 2px 12px;
  padding: 0 8px;
  font-weight: 700;
}
.br-7 {
  border-radius: 7px;
}
.bg-cta { color: #ffffff; }
/* .cta-black { background-color: rgba(0, 0, 0, 0.7); } */
.cta-blue { background-color: #4046ad; }
.bg-cta .input-group-addon {
  background-color: #ed85a8;
  border: 1px solid #ed85a8;
}
.bg-cta .input-group-addon:hover {
  background-color: #ea6995;
}

.bg-cta input.form-control[type=text] {
  border: 1px solid #ffffff;
}
.bg-cta h3 {
  font-weight: 300;
  font-size: 1.6rem;
}
.footer span {
  color: #6d6f7b;
}
.footer ul {
 margin: 10px 0 0 0;
 padding: 0;
}
.footer ul li {
 list-style-type: none;
 padding: 4px 0;
}
.footer ul li a {
  color: #6d6f7b;
}
.footer ul li a:hover {
  color: #4046ad;
  text-decoration: none;
}
.pricing-box h5, .pricing-box h4 {
  display: block;
  width: 100%;
  text-align: center;
}
.top-black {
  border-top: 9px solid #323748;
}
.top-green {
  border-top: 9px solid #29d392;
}
.top-yellow {
  border-top: 9px solid #f4ce00;
}
.top-gray {
  border-top: 9px solid #6d6f7b;
}
.pricing-box hr {
  border-top: solid 0.5px #f0f0f0
}
.pricing-box .h6 {
  font-size: 1.1rem;
}
.p-25 {
  padding: .75rem !important;
}

.toggle {
  border-radius: 50px;
  background-color: #4046ad;
  padding: .25rem .07rem .55rem .1rem;
  border: 2px solid #4046ad;
  cursor: pointer;
}
.toggle:hover {
  background-color: #2f359f;
}

.toggle span {
  border-radius: 50px;
  width: 110px;
  font-size: .7em;
  padding: .45rem;
}
.toggle .active {
  background: white;
  color: #4046ad;
}
.toggle i {
  display: none;
}
.toggle .active i {
  display: inline-block;
}
.text-green {
  color: #29d392;
}
.z-1 {
  z-index: 1;
}
.img-blue-border {
  width: 420px;
  height: 420px;
  -webkit-box-shadow: -18px -18px 0px 0px rgba(64,70,173,1);
  -moz-box-shadow: -18px -18px 0px 0px rgba(64,70,173,1);
  box-shadow: -18px -18px 0px 0px rgba(64,70,173,1);
  border-radius: 8px;
  margin-top: 15%;
  margin-right: -18px;
  float: right;
}
.img-green-border {
  width: 420px;
  height: 420px;
  -webkit-box-shadow: 18px -18px 0px 0px rgba(41,211,146,1);
  -moz-box-shadow: 18px -18px 0px 0px rgba(41,211,146,1);
  box-shadow: 18px -18px 0px 0px rgba(41,211,146,1);
  border-radius: 8px;
  margin-top: 15%;
  margin-left: -18px;
  float: left;
}
.img-jobs {
  width: 400px;
  height: 400px;
}

.pattern-blue {
  position: absolute;
  bottom: -12px;
  right: -30px;
}
.pattern-green {
  position: absolute;
  bottom: -12px;
  left: -30px;
}
.team-text {
  z-index: 0;
  border-radius: 8px;
}
.team-text .h4 {
  line-height: 2.1rem;
}
.bg-md-white {
  background-color: #ffffff;
}
.footer-blog-item { border-radius: 2px; }
.footer-blog-item a { color: #A4B0C3; }
.footer-blog-item:hover { background-color: #3D4659; }
.footer-blog-item:hover a { text-decoration: none; color: white;}

.footer-icon {
  color: #4046ad;
  font-size: 1.2rem;
  margin: 5px;
}
.footer-icon:hover {
  color: #ed85a8;
}
.mb-8 {
  margin-bottom: 8%;
}
.mt-8 {
  margin-top: 8%;
}
.lh-2 {
  line-height: 1.4;
}
.lh-3 {
  line-height: 1.9 !important;
}
.pt-md-80 { padding-top: 80px; }
.pt-md-100 { padding-top: 80px; }
.pb-md-60 { padding-top: 60px; }
.w-md-75 { width: 75% }
@media (max-width: 768px) {
  h1, .h1 { font-size: 2rem; }
  h2, .h2 { font-size: 1.1rem; }
  .mp-md-80 { margin-top: 0; }
  .w-md-75 { width: 100% }
  nav > .collapse.show{
    position: absolute;
    top: 10%;
  }
  nav > .collapsing {
    position: absolute;
    top: 10%;
    color: transparent;
  }
  .navbar-light .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.5rem;
  }
  .collapsedfully {
    z-index:10;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #4046ad url(../images/ic-pattern.svg) no-repeat bottom left;
    background-size: 100% auto;
    align-items: start;
  }
  nav.collapsedfully .navbar-brand span{ color: #ffffff; }
  .navbar-toggler:not(.collapsed) span { background: white; }
  .signup-header-cta {
    background: transparent;
    display: flex !important;
    flex-direction: row-reverse;
  }
  .bg-md-white { background-color: transparent; }
  .team-text { text-align: center; }
  .img-jobs{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: auto;
    float: unset;
    width: unset;
    height: unset;
    max-width: 90%;
    max-height: 90%;
  }
  .img-blue-border {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: auto;
    float: unset;
    width: unset;
    height: unset;
    max-width: 90%;
    max-height: 90%;
  }
  .img-green-border {
    margin: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 0;
    margin-right: 0;
    float: unset;
    width: unset;
    height: unset;
    max-width: 90%;
    max-height: 90%;
  }
  .pattern-blue, .pattern-green { display: none; }
  .cta-btn { width: 100% }
  .cta-input { width: 100%; min-width: 100%; }
}

.imgs-fluid img {
  max-width: 100%;
  height: auto;
}

.mw-500 { max-width: 500px !important; }
.blog-font { font-size: 1.2rem; }
.blog-font p { text-align: justify; }

.blog-font img {
  -webkit-box-shadow: 2px 0px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: 2px 0px 5px 0px rgba(204,204,204,1);
  box-shadow: 2px 0px 5px 0px rgba(204,204,204,1);
}

.blog-font h2 {
  font-weight: bold;
  margin-top: 50px;
}

.blog-font h3 {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.bold {
  font-weight: 500;
}

.mw-900 {
  max-width: 900px;
}
.box { box-shadow: inset 0 0.7px 0 0 #f0f0f0; }
pre {
  background: #efefef;
  border-radius: 4px;
  border: 1px solid #a3a3a3;
  font-size: .8rem;
  padding: 10px;
}
.clickable:hover, .clickable-blank:hover {
  cursor: pointer;
}
.clickable:hover h3 {
  text-decoration: underline;
}
/* .clickable a { */
/*   visibility: hidden; */
/* } */
/* .clickable:hover a { */
/*   visibility: visible; */
/* } */
.clickable a:hover {
  /* text-decoration: none; */
}

.cloudwatch-imitation {
  border: 2px solid black;
  border-radius: 4px;
}
.cloudwatch-imitation .h3 {
  padding: 5px 0 5px 10px;
}
.cloudwatch-imitation pre {
  border: none;
  font-size: 0.9em;
  background: none;
  line-height: 1.7rem;
}
.error-line{
  background-color: #FAAB9A;
  margin: 0 !important;
  line-height: 1.3rem;
}
ul.sidemenu > li {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-shadow: inset 0 0.7px 0 0 #f0f0f0;
}
ul.sidemenu > li:first-child { box-shadow: inset 0 0 0 0 #f0f0f0; }
ul.sidemenu > li > a { color: black; font-size: 1.3em; }
ul.sidemenu li.active > a { color: #29D391; }
ul.sidemenu ol li { list-style-type: decimal; }
ul.sidemenu ol { display: none; }
ul.sidemenu li.current-subject ol,
ul.sidemenu li.active ol {
  display: block;
  margin: 10px 0 10px 0;
  padding-left: 25px;
}
ul.sidemenu li ol li { padding-left: 10px; padding-bottom: 5px; }
ul.sidemenu li.active > a { color: #29D391; }
ul.sidemenu li.active ol > a { padding-left: 30px; }

.kb :first-child  h2 { margin-top: 40px; }
.campaign-offer {
  background-color: #646be0;
  z-index: 9999;
}
.campaign-offer a {
  color: white;
  text-decoration: underline;
}
a.no-decoration:hover {
  text-decoration: none;
  color: black;
}
.w-300 {
  min-width: 300px;
  max-width: 300px;
}
.m-w-900 { max-width: 900px; }
.m-w-1200 { max-width: 1200px; }
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* display: table-cell; */
  vertical-align: middle;
  background-color: black;
  opacity: .3;
  z-index: 10;
}
.z-100 { z-index: 100; opacity: 1; }

q { color: gray; }
.h-200 { height: 200px; }

.languages-icons img{
  margin: 15px;
  max-height: 35px;
  vertical-align: middle
}
.socialproof-icons img{
  margin: 15px 20px;
  max-height: 25px;
  width: auto;
  height: auto;
  vertical-align: middle
}
