<!doctype html>
<html lang="en">
  <head>
    {{ partial "kb/meta.html" . }}
    {{ partial "kb/stylesheets.html" }}
    {{ partial "blog/inline-scripts.html" }}
  </head>
  <body>
    {{ partial "blog/header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "blog/footer.html" . }}
    {{ partial "blog/scripts.html" }}
    {{ range .Page.Params.scripts  }}
    <script async src="{{ . }}" type="text/javascript"></script>
    {{ end  }}
    <!-- <script src="https://dashbird.activehosted.com/f/embed.php?id=25" type="text/javascript" charset="utf-8"></script> -->
  </body>
</html>
