{{ define "main" }}
<section class="container-fluid bg-white">
  <div class='d-none d-md-block'>
    <div class="row h-300 align-items-center blue-bg">
      <div class='col-6 text-center'>
        <h1>Cloud Knowledge Base
        </h1>
      </div>
      <div class='col-6 text-justify border-left px-4 py-2 text-white'>
        <div class='col-10 mx-auto'>
          <p class='text-light-gray'>Dashbird is a monitoring platform that ensures efficiency for modern cloud infrastructures by delivering alerts, insights and activity visualisation.</p>
          <a href='/#register' class='btn btn-primary mt-1'>Start a Free Trial</a>
          <a href='/' class='btn btn-light ml-2 mt-1'>Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-md-none row blue-bg">
    <div class='col-12 py-5 text-center border-bottom'>
      <h1>Cloud Knowledge Base</h1>
    </div>
    <div class='col-12 text-center pt-3 pb-4 text-white'>
        <p class='text-light-gray text-justify'>Dashbird is a monitoring platform that ensures efficiency for modern cloud infrastructures by delivering alerts, insights and activity visualisation.</p>
        <a href='/#register' class='btn btn-primary mt-1'>Start a Free Trial</a>
    </div>
  </div>


  <div class="row kb-links d-flex py-5">
    {{ range $subject, $taxonomy := .Site.Taxonomies.learning }}
    <div class='col-12 col-md-8 my-2 mb-2 mx-auto'>
      {{ $firstPage := index ($taxonomy) 0 }}
      <h4 class='border-bottom'>{{ substr (index ($firstPage.Params.learning) 0) 1 }}</h4>
      <div class='mt-3'>
        <ol>
      {{ range $taxonomy }}
        <a href="{{ .Page.Permalink }}" class="align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <li><b class="mb-1">{{ .Params.Title }}</b></li>
          </div>
          <p class="mb-1 ml-1 text-secondary">{{ .Params.Description }}</p>
        </a>
        {{ end }}
        </ol>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

