{{ define "main" }}
{{ $currentPage := .  }}
<section class="container-fluid bg-white">

  <div class="row h-300 align-items-center blue-bg">
    <div class='col-12 col-md-6 text-center text-md-left pl-md-5'>
      <h1 class=''>{{ .Title }}</h1>
      <p class='text-light'><i>{{ .Description }}</i></p>
    </div>
    <div class='d-none d-md-block col-6 text-justify border-left px-4 py-4 text-white'>
      <div class='col-10 mx-auto'>
        <p class='text-light-gray'>Dashbird is a monitoring platform for monitoring modern cloud infrastructure by providing alerts, insights and data visualisation.</p>
        <div>
          <a href='/register/' class='btn btn-primary mt-1'>Start a Free trial</a>
          <a href='/' class='btn btn-light ml-2 mt-1'>Learn more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center py-3" style='background: #ebf2ff;'>
    <div class='col-12 mx-auto m-w-900'>
      <a href='/knowledge-base/'>Knowledge Base</a>
      <i class="fa fa-arrow-right mx-2" style='color: #cccccc;'></i>
      {{ if .Params.learning }}
        {{ substr (index (.Params.learning) 0) 1 }} </h3>
        <i class="fa fa-arrow-right mx-2" style='color: #cccccc;'></i>
      {{ end }}
      <a href='{{ .Permalink }}'>{{ .Title }}</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class='col-12 col-md-10 mx-auto text-justify imgs-fluid m-w-900 pt-4'>
      {{ .Content }}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class='col-12 mx-auto m-w-900 mt-5'>
      {{ if .Params.learning }}
        {{ $currentTaxonomy := urlize (index (.Params.learning) 0) }}
        {{ $currentPermalink := .Permalink }}
        {{ range $subject, $taxonomy := .Site.Taxonomies.learning }}
          {{ if eq $subject $currentTaxonomy}}
            {{ range $index, $key := $taxonomy }}
              {{ if eq $currentPermalink .Permalink }}
                {{ $prevIndex := sub $index 1 }}
                {{ $nextIndex:= add $index 1 }}
                {{ $prev := index ($taxonomy) $prevIndex }}
                {{ $next := index ($taxonomy) $nextIndex }}
                {{ if $prev }}<a href='{{$prev.Permalink}}' class='float-left d-inline w-50 w-md-100'>⟵ {{ $prev.Title }} </a>{{ end }}
                {{ if $next }}<a href='{{$next.Permalink}}' class='pull-right text-right w-50 w-md-100'>{{ $next.Title }} ⟶</a> <br>{{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class='col-12 mx-auto m-w-900 mt-5'>
      {{ if .Params.learning }}
      <h3>Learn more about {{ substr (index (.Params.learning) 0) 1 }} </h3>
        <ol>
        {{ $currentTaxonomy := urlize (index (.Params.learning) 0) }}
        {{ $currentPermalink := .Permalink }}
        {{ range $subject, $taxonomy := .Site.Taxonomies.learning }}
          {{ if eq $subject $currentTaxonomy}}
            {{ range $taxonomy }}
              <a href="{{ .Page.Permalink }}" class="align-items-start">
                <div class="d-flex w-100 justify-content-between text-secondary">
                  <li class="mb-2"><b>{{ .Params.Title }}</b> - {{ .Params.Description }}</li>
                </div>
              </a>
           {{ end }}
          {{ end }}
        {{ end }}
        </ol>
      {{ end }}
    </div>
  </div>

  
</section>


<section class='container-fluid bg-white'>
  <div class='row justify-content-center pt-5'>
    <div class='col-12 col-md-9 m-w-900 rounded mb-1 mb-md-5 border'>
      <h1 class='text-center mt-4'>Operate Cloud Applications at Highest Quality</h1>
      <div class='row my-3'>
        <div class='col-12 col-md-6 pt-0 pt-md-4 pl-0 pl-md-4'>
          <!-- <h2>Alerting, insights and observability into your cloud infrastructure.</h2> --> 
          <p class='ml-3'><b>Save time</b> spent on debugging applications.</p>
          <p class='mt-2 ml-3'><b>Increase development</b> velocity and quality.</p>
          <p class='mt-2 ml-3'><b>Get actionable insights</b> to your infrastructure.</p>
        </div>
        <div class='col-12 col-md-6 border-none border-md-left py-3'>
          <h5 class='mb-2 text-center text-md-left'>Finish setup in 2 minutes!</h5>
          <input type="text" id='registerEmail' class='d-none' name='helper' placeholder="placeholder for auto-focus">
          <form id="register-form" name="register-form" method="post" action="https://api.dashbird.io/redirects/register">

            <input type="email" id='registerEmail' class='form-control mt-2' name='email' placeholder="Work Email" required>
            <div class='input-group'>
              <input type="text" name='firstName' class='form-control mt-2' placeholder="First name" required>
              <input type="text" name='lastName' class='form-control mt-2' placeholder="Last name" required>
            </div>
            <input type="text" name='companyName' class='form-control mt-2' placeholder="Company" required>
            <input type="password" name='password' class='form-control mt-2' placeholder="Password" required>
            <button 
              class="btn btn-primary mt-3 g-recaptcha"
              style='width: 100%;'
              data-sitekey="6LfJ_LIZAAAAAD-3eadaF9hzHlHIp-btwtSi85bV"
              data-callback="onSubmit"
              data-action="submit">Create free account</button><br>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
