{{ define "main" }}
{{ partial "headerblog.html" .}}
<section class="container sf-ui-text">
  <div class="row">  
    <div class="col-12 mt-3"> 
      <div class="row">
        <h1 class="col text-left mt-125 mb-125 blog-news"><span class="h4 underlined">Recent posts</span></h1>
        <div class="pull-right posts-filter mt-125">
          <div class="placeholder p-2">
            <span class="">Filter by category <i class="fa fa-caret-down" aria-hidden="true"></i></span>
          </div>
          <ul class="d-none">
            <li>  <a href="/blog/">All posts</a> </li>
            {{ range $key, $taxonomy := .Site.Taxonomies.blog }}
                {{ if gt (len $taxonomy)  1 }}
                 <li>  <a href="/blog/{{ $key | urlize  }}">{{ $key}}</a> </li>
                {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="row"> 
        {{ if eq .Kind "taxonomyTerm" }}
          {{$.Scratch.Set "pages" ( where ( where .Site.Pages.ByDate.Reverse ".Kind" "page")  ".Section" "blog") }}
        {{ else }}
          {{$.Scratch.Set "pages" .Data.Pages.ByDate.Reverse}}
        {{ end }}

        {{ $pages := $.Scratch.Get "pages" }}

        {{ if gt (len $pages) 1 }}
          {{ $.Scratch.Set "pages" (after 1 $pages) }}
        {{ end }}
        {{ $paginator := .Paginate ( $.Scratch.Get "pages" )  12 }}
        {{ range $paginator.Pages }}        
        <div class="col-md-4 col-sm-6 col-12 blog-item mb-125 mt-125">
          <a href="{{ .Permalink  }}" class="bg-white">
            <div class="blog-thumb-wrap">
              <img class="b-lazy blog-thumb" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/blog/{{.Params.frontImage}}" width='340'>
            </div> 
            <div class="blog-content-wrap col-12 p-sm-50 px-4 py-3_5">
              <div class='blog-category mb-2 {{ if isset .Params "blog"}} d-none{{end}} d-sm-block'>
                {{ range $categ :=  .Params.blog }}
                <span class='blog-categ-spam categ-{{ trim (replace (lower $categ) "." "") " " }}'>{{ $categ }}</span>
                {{ end }}
              </div>
              <h2 class="blog-title mb-25 h-xs-auto">{{ .Title }}</h2>
              <p class="blog-item-description pb-3">{{  .Description }}</p>
              <div class="blog-item-author">
                <span class="text-left text-secondary small m-0 p-0">by {{ .Params.author }}</span>
                <span class="text-right text-secondary small m-0 p-0 pull-right">{{ .Date.Format "January 2, 2006" }}</span>
              </div>
            </div>
          </a>
        </div> 
        {{ end }}
      </div>

      <!-- Custom Pagination -->
      <div class="row pagination pb-6">
        {{ partial "pagination.html" . }}
      </div>
      </div>
    </div>
  </div>
</section>
{{ partial "newsletter.html" .}}
{{ partial "mostpopular.html" .}}
{{ partial "freetrial.html" .}}


{{ end }}


