{{ define "main" }}
<section class="container-fluid dark-bg" >
    <div class='col m-w-1200 m-auto'>
      <div class='row'>
      {{ range .Data.Pages.ByDate.Reverse }}
        <div class="col-6  p-5">
          <div class="row">

            <div class='col p-0 m-0' style='
            background: linear-gradient(
               rgba(20,20,20, .5), 
               rgba(20,20,20, .5)
            ),
            url("/images/blog/{{.Params.frontImage}}");
                height: 300px;
                background-repeat: no-repeat;
                background-size: 100%;'>

              <div class='text-white z-100'>
                <h2><a href="{{ .Permalink  }}" class='text-white'>{{ .Title }}</a></h2>
                <p class="lato">{{ .Description }}</p>
                <p class="text-right small m-0 p-0">{{ .Params.author }} at {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
              </div>

            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
