{{ define "main" }}

<section class="position-relative container-fluid px-0">
  <div class='container-fluidp-0 blog-slider position-absolute ' style='background: linear-gradient(180deg, rgba(35,34,61,0.5) 0%, rgba(35,34,61,0.8) 79.16%, #23223D 100%), url("/images/blog/{{.Params.frontImage}}"); background-size: cover; height: 600px; width: 100%;'>
    <!-- <img src="/images/blog/{{.Params.frontImage}}" class="d-md-none"> -->
  </div>
  <div class="container">
    <div class="row">
      <a href="/blog/" class="return-to-blog">
        <span class="blog-new-topic">
          <i class="fa fa-arrow-left"></i> RETURN TO BLOG
        </span>
      </a>
    </div>
  </div>
  <div class="container z-index-1 p-md-10">
    <h1 class="text-center p-5 text-white roboto-mono blog-title-h1 mb-md-4 position-relative">{{ .Title }}</h1>
  </div>
</section>
<section class="container sf-ui-text br-7 blog-font bg-white z-index-1 position-relative article-blog-wrap">
  <div class="post-author-icon-wrap position-absolute row z-index-1">
    <div class="post-author-icon">
      {{ if isset .Params "author_image" }}
      <img src="{{ .Params.author_image }}" class="w-100">
      {{ else }}
      <img src="/images/avatar-default.png" class="w-100">
      {{ end }}
    </div>
    <div class="text-center post-author-det st-ui-text">
      Written by
      {{ if isset .Params "authorlink" }}
        <a href='{{ .Params.authorlink }}' target='_blank'>{{ .Params.author }}</a>
      {{ else }}
        {{ .Params.author }}
      {{ end }}
      <br>on {{ .Date.Format "Mon, Jan 2, 2006" }}
    </div>
  </div>

 <div class="col-2 text-center d-none d-md-block position-absolute pt-10 hight-100">
    <div class="sticky-top pt-5 pb-10 social-icons">
      <div class="col-12 mb-3 mt-3">
        <a rel="nofollow"
           class="twitter m-d-s"
           title="Share to Twitter"
           href="https://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }} by @thedashbird"
           onclick="window.open(this.href,'targetWindow','toolbars=0,location=0,status=0,menubar=0,scrollbars=1,resizable=1,width=640,height=320,left=200,top=200');return false;"><i class='fa fa-twitter'></i></a>
      </div>

      <div class="col-12 mb-3">
        <a rel="nofollow"
           class="facebook m-d-s"
           title="Share to Facebook"
           href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&amp;src=sdkpreparse"
           onclick="window.open(this.href,'targetWindow','toolbars=0,location=0,status=0,menubar=0,scrollbars=1,resizable=1,width=640,height=320,left=200,top=200');return false;"><i class='fa fa-facebook'></i></a>
      </div>

      <div class="col-12">
        <a rel="nofollow"
           class="linkedin m-d-s"
           href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}&amp;source=https://blog.toggl.com/"
           title="Share to LinkedIn"
           onclick="window.open(this.href,'targetWindow','toolbars=0,location=0,status=0,menubar=0,scrollbars=1,resizable=1,width=640,height=320,left=200,top=200');return false;"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div> 

  <div class="col col-md-8 pt-10 pt-md-40 mb-5 imgs-fluid justify-content-center m-0-auto">
    <div class='article-blog-content'>{{ .Content }}</div>
  </div>
  <div class="row justify-content-center lato lh-3">
    <div class="col-8 mt-5 mb-5">
      {{ partial "disqus" . }}
    </div>
  </div>
  <div class="row">
    <div class="col d-block d-md-none social-icons">
      <span class="h4">share on:</span>
      <a rel="nofollow"
         class="h1 ml-3 mr-3 twitter text-center"
         title="Share to Twitter"
         href="https://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }} by @thedashbird"
         onclick="window.open(this.href,'targetWindow','toolbars=0,location=0,status=0,menubar=0,scrollbars=1,resizable=1,width=640,height=320,left=200,top=200');return false;"><i class='fa fa-twitter'></i></a>
      <a rel="nofollow"
         class="h1 mr-3 facebook text-center"
         title="Share to Facebook"
         href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&amp;src=sdkpreparse"
         onclick="window.open(this.href,'targetWindow','toolbars=0,location=0,status=0,menubar=0,scrollbars=1,resizable=1,width=640,height=320,left=200,top=200');return false;"><i class='fa fa-facebook'></i></a>

      <a rel="nofollow"
         class="h1 linkedin text-center"
         href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}&amp;source=https://blog.toggl.com/"
         title="Share to LinkedIn"
         onclick="window.open(this.href,'targetWindow','toolbars=0,location=0,status=0,menubar=0,scrollbars=1,resizable=1,width=640,height=320,left=200,top=200');return false;"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  <!-- <div class="col-2 pt-3 d-none d-md-block" style='margin-top: 160px;'>
    <div class="sticky-top pt-4">
      <div class="pt-4 border rounded text-center">
      <img src="/images/dashbird-logo.png" class='align-center' style='border: 0; box-shadow: none; width: 80px;'>
      <p classsda='m-3 mt-4 mb-4' style='font-size: 10pt;'>End-to-end serverless monitoring and error reporting.</p>
      <a href='https://dashbird.io' class='btn btn-primary btn-sm mb-3' role='button' >Dashbird</a>
    </div>
  </div> 
  </div>-->
</section> 

  {{ partial "newsletter.html" .}}
  {{ partial "mostpopular.html" .}}
  {{ partial "freetrial.html" .}}
{{ end }}


