<!doctype html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
    {{ partial "stylesheets.html" }}
    {{ partial "inline-scripts.html" }}
  </head>
  <body>
    <div class='background-gradient-bottom'>
      {{ partial "header.html" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" }}
    {{ range .Page.Params.scripts  }}
    <script async src="{{ .  }}" type="text/javascript"></script>
    {{ end  }}
  </body>
</html>
