<section id="footer" class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3">
      <h6>Dashbird</h6>
      <ul class='list-unstyled'>
        <li><a href="/team">About</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/jobs">Careers</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3">
      <h6>Product</h6>
      <ul class='list-unstyled'>
        <li><a href="/features">Features</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="https://www.iubenda.com/privacy-policy/75093246" class="iubenda-nostyle no-brand iubenda-embed " title="Privacy Policy">Privacy Policy</a>
          <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-3">
      <h6>Social</h6>
      <ul class='list-unstyled'>
        <li><a href="https://github.com/dashbird" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/thedashbird" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/dashbirdapp/" target="_blank">Facebook</a></li>
        <li><a href="https://www.linkedin.com/company/11414046/" target="_blank">LinkedIn</a></li>
        <li><a href="https://instagram.com/dashbirdteam" target="_blank" >Instagram</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3">
      <h6>Join our newsletter</h6>
      <form action="https://dashbird.us15.list-manage.com/subscribe/post?u=a50018e875e09cbcbb6568beb&amp;id=5736e63062" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="row">
          <input type="email" class="input-pink col-12 col-md-7 mr-sm-3" placeholder='Email address' name="EMAIL" required>
          <button class="input-group-addon cta-btn cta-pink w-usm-auto r-input-btn-usm" id='signup' type='submit'>Subscribe</button>
        </div>
      </form>
      <span>Dashbird available on</span>
      <a target="_blank" href="https://aws.amazon.com/marketplace/pp/B07HFKB9VK"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-src='/images/awsmarketplace.png' width="180px"></a>
    </div>
  </div>
</section>
