{{ if .Params.include_blog}}
<div class='scrolling-wrapper'>
  <div class='container mt-block'>
    <div class="row">
      <div class='col-12 col-md-11 mx-auto d-flex justify-content-between'>
        {{ range where ( where .Site.Pages.ByDate.Reverse ".Kind" "page")  ".Section" "blog" | first 3 }}
          <div class="col-auto col-md-4">
            <a class='a-block' href="{{ .Permalink }}">
            <div class='col-12 blog-item d-flex justify-content-end align-items-end pb-3' style='height: 200px; background-image: url(/images/blog/{{.Params.frontImage}})'>
              <div class='text-right text-md-left'>
              {{ range $categ :=  .Params.blog }}
                <span class='blog-tag-item'>{{ $categ }}</span>
              {{ end }}
              </div>
            </div>
            <div class='col-12 p-0 pt-3'>
              <h6 class='blog-item-header text-wrap text-white'>{{ .Title }}</h6>
              <p class='subtle text-justify text-wrap p-0'>{{ .Description }}</p>
            </div>
          </a>
          </div>
        {{ end }}
        </div>
    </div>
  </div>
</section>

{{ else }}
<section id="footer" class="container">
  <div class="row">
    <div class="col-12 col-md-3 text-left">
      <h6>Dashbird</h6>
      <ul class='list-unstyled'>
        <li><a href="/team">About</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3 text-left">
      <h6>Product</h6>
      <ul class='list-unstyled'>
        <li><a href="/features">Features</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="https://www.iubenda.com/privacy-policy/75093246" class="iubenda-nostyle no-brand iubenda-embed " title="Privacy Policy">Privacy Policy</a>
          <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </li>
        <li><a target="_blank" href="https://dashbird.io/legal/termsofuse.htm">Terms and Conditions</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3 text-left">
      <h6>Social</h6>
      <ul class='list-unstyled'>
        <li><a href="https://github.com/dashbird" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/thedashbird" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/dashbirdapp/" target="_blank">Facebook</a></li>
        <li><a href="https://www.linkedin.com/company/dashbird/" target="_blank">LinkedIn</a></li>
        <li><a href="https://instagram.com/dashbirdteam" target="_blank" >Instagram</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3 text-center text-md-left">
      <h6>Join our newsletter</h6>
      <form method="POST" action="https://dashbird.activehosted.com/proc.php" id="mc-embedded-subscribe-form" class="validate form-inline" style="width: 100%;display: inline-block; max-width: 260px;" novalidate>
        <input type="hidden" name="u" value="11" />
        <input type="hidden" name="f" value="11" />
        <input type="hidden" name="s" />
        <input type="hidden" name="c" value="0" />
        <input type="hidden" name="m" value="0" />
        <input type="hidden" name="act" value="sub" />
        <input type="hidden" name="v" value="2" />
        <div class="row" id="signup_form">

          <input type="text" id="newsletter-email" class="form-control" name="email" placeholder="Type your email" required/>
          <button id="newsletter-submit" class="btn btn-primary"  type="submit">
            join
          </button>
        </div>
        <div class="_form-thank-you" style="display:none;margin-left: -15px;font-weight: bold;"></div>

      </form>

      <!-- <form class="form-inline" style="width: 100%;display: inline-block; max-width: 260px;">
        <input type="email" class="form-control" id="newsletter-email" placeholder="Email...">
        <button type="submit" id="newsletter-submit" class="btn btn-primary">join</button>
      </form> -->
      <div class="row mt-4"></div>
      <span>Dashbird is available on</span>
      <a target="_blank" href="https://aws.amazon.com/marketplace/pp/B07HFKB9VK"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-src='/images/awsmarketplace.png' width="180px"></a>
      <span><br/> and is an AWS Advanced Technology Partner.</span>
    </div>
  </div>
</section>
{{ end }}
