<section class="container-fluid py-8 py-md-10 freetrial" style='background-image: url("/images/bg-img-cta@1x.png"); background-size: cover;box-shadow: inset 0 0 0 1000px rgba(35, 34, 61, 0.6);'>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 center p-2 cta-black bg-cta text-center">
        <span class="h3 roboto-mono mb-4 d-block h3-mobile">Start your free 14-day trial!</span>
        <p class="mt-3 lh-3 d-block col-md-8 justify-content-center p-mobile">Save development time and money. Get your lambda performance analytics set up in 2-minutes.</p>
        <form class='form-inline justify-content-center pt-md-8' name="trial-form">
            <input type="email" class="cta-input mb-2 my-md-0 mt-5 mr-md-2 d-block d-md-inline w-md-auto" placeholder='Email address' name="email" required>
            <button class="d-block d-md-inline cta-btn cta-pink w-md-auto" id='signup' type="submit">Get started for free</button>
        </form>
      </div>
    </div>
</section>