<div class='background-gradient-top'></div>
<div id="overlay" onclick="removeHash();"></div>
<div id="side-menu">
  <div class="close" onclick="removeHash();">✕</div>
  <div class="menu-container">
    <div class="navigation">
      {{ $currentPage := .  }}
      {{ range .Site.Menus.main }}
      <li class="nav-item {{ .Identifier }}">
        <a class="nav-link"
        href="{{ .URL }}">
        {{ .Name }} 
      </a>
      </li>
      {{ end }}
      <li class="nav-item"><a class="nav-link" href="#login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="#register">Register</a></li>
    </div>
    <div class="login-container">
      <div class="register">
        <div>
          <h1>Register</h1>
          <form id="register-form" name="register-form" method="post" action="https://api.dashbird.io/redirects/register">
            <input type="email" id='registerEmail' name='email' placeholder="Work Email"><br>
            <input type="text" name='firstName' placeholder="First name" required><br>
            <input type="text" name='lastName' placeholder="Last name" required><br>
            <input type="text" name='companyName' placeholder="Company" required><br>
            <input type="password" name='password' placeholder="Password"><br>
            <button class="cta-btn mt-3">Create your account</button><br>
          </form>
          <button class="github d-none">
            <img src="/images/landing-graphics/icon-github.svg" alt="">
            Sign up with Github
          </button><br>
          <p class="center">
            Already have an account? <a href="https://app.dashbird.io">Sign in →</a>
          </p>
        </div>
        <div class="footer">
          <p class="privacy">By signing up you agree to the <a href="#">privacy policy</a>.</p>
        </div>
      </div>
      <div class="login">
        <div>
          <h1>Login</h1>
          <p>Don’t have an account? <a href="#register">Sign up</a></p>
          <input type="text" placeholder="Email"><br>
          <input type="password" placeholder="Password"><br>
          <button class="cta-btn">Login</button><br>
          <button class="github">
            <img src="/images/landing-graphics/icon-github.svg" alt="">
            Sign in with Github
          </button><br>
        </div>
        <div class="footer">
          <p>
            <a href="#">Forgot password?</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="container navbar-expand">
  <div class="row">
    <div class="col-12 mt-4">
      <a class="navbar-brand float-left" href="/">
        <img src="/images/v2/logo-dashbird-withtext.svg" alt="">
      </a>
      <div class="float-right align-right d-block d-lg-none">
        <a href="#menu">
          <img src="/images/v2/navbar-burger-icon.svg" alt="">
        </a>
      </div>
      <ul class="nav float-left d-none d-lg-inline-flex">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <ul class="nav float-right align-right d-none d-lg-inline-flex">
        <li class='nav-item'>
          <a class="nav-link" href="https://app.dashbird.io">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link primary" href="#register">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
