<div class='campaign-offer text-center text-white lato pt-1 pb-1 fixed-top'>
  Limited offer: Subscribe for an annual plan before Jan 10th and save 20%
  <a href='/pricing' class='btn btn-light btn-sm ml-2'>Get it</a>
</div>

<nav class="navbar navbar-light navbar-expand-md pl-5 pr-5" style='margin-top: 40px;'>
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" class="logo-image">
    <span class="align-middle">DASHBIRD</span>
  </a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navigation">
    <span> </span>
    <span> </span>
    <span> </span>
  </button>

  <div class="collapse navbar-collapse " id="navigation">
    <ul class="nav navbar-nav mt-3 mt-md-0 ml-md-auto">
      <li class="nav-item d-flex d-md-none">
        <a class="nav-link" href="/">Home</a>
      </li>
      {{ $currentNode := .  }}
			{{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      <li class="nav-item">
        <a class="nav-link" href="https://app.dashbird.io">Sign in</a>
      </li>
      <li class="nav-item btn-blue p-0 pr-2 pl-2 ml-3">
        <a href="/signup">
          <span class='align-middle text-white pr-2 effect-u'><img src="/images/ic-arrow.svg" class="ic-arrow pb-1">Sign up</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
