<section class="container-fluid blue-bg position-relative overflow-hidden">
	<div class="container pt-10 pb-10 position-relative newsletter-wrap">
			<div class='col-md-6 col-sm-12 z-index-1'>
				<div class="row">
					<h2 class="text-left newsletter-title text-xs-center pr-md-10">Want more content like this?</h2> 
					<p class="pt-3 pb-3 text-xs-center">Keep up to speed on the latest serverless trends!</p>
				</div>
					
	      <form action="https://dashbird.us15.list-manage.com/subscribe/post?u=a50018e875e09cbcbb6568beb&amp;id=5736e63062" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="row">
	          <input type="email" class="input-pink col-12 col-md-7 mr-sm-3" placeholder='Email address' name="EMAIL" required>
	          <button class="input-group-addon cta-btn cta-pink w-usm-auto r-input-btn-usm" id='signup' type='submit'>Subscribe</button>
					</div>
	      </form>
			</div>
			<div class="col-12 col-md-4 d-md-block news-card pb-8 pb-md-0">
				<div class='card'>
				  <div class='card-body  roboto'>
						<p class='text-center title roboto-mono'>Write for us!</span>
						<p class='text-center sf-ui-text text'>We're looking for developers to share their experience with Serverless.</p>
						<p  class='text-center sf-ui-text text'><a href='mailto: support@dashbird.io'>Emails</a> and <a href='https://github.com/dashbird/site' target='_blank'>pull requests</a> welcome!</p>
				  </div>
			  </div>
	  </div>
	 </div>
  <div class="newsletter-dots-wrap d-none d-md-block">
  		<div class="pull-col-6 col-6 newsletter-dots">
  		</div>
  </div>
</section>