<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap-4.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.2.1/lunr.min.js" crossorigin="anonymous"></script>

<script src="/js/main.js" async></script>
<script src="/js/search.js" async></script>
<script src="/js/img-load.js" async></script>