<!-- vendor -->
<script src="/vendor/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" async></script>
<script src="/vendor/bootstrap.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.2.1/lunr.min.js" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/npm/blazy@1.8.2/blazy.min.js"></script>

<!-- custom -->
<script src="/js/main.js" async></script>
<script src="/js/search.js" async></script>
<script src="/js/img-load.js" async></script>
<script src="/js/register.js" async></script>
<script src="/js/trial.js" async></script>

<!-- service worker -->
<script src="/upup.min.js"></script>
<script src="/upup.sw.min.js"></script>
<script src="/sw.js"></script>
