{{ if isset .Params "slider_image"  }}
<div class='container-fluid text-white p-0 blog-slider pt-40' style='background: linear-gradient(180deg, rgba(35,34,61,0.5) 0%, rgba(35,34,61,0.8) 79.16%, #23223D 100%), url("{{ .Params.slider_image }}"); background-size: cover; position: relative;border-bottom: 15px solid #8b8fe9;'>
  <section class="container" style='height: 100%; position: relative;'>
    <div class="row justify-content">
      <div class="col-12 col-sm-8 justify-content px-xs-2">
        <h1 class="text-center roboto-mono blog-title-h1">{{ .Title }}</h1>
        <div class="col-12 center text-center  pl-0 pt-4">
          {{ .Description }}
        </div>
        <div class="col-12 text-center pl-0 pt-5">
          <a href="#" class="text-center btn cta-btn cta-pink w-sm-auto">{{ .Params.btn_text }}</a>
        </div>
      </div> 
    </div>
  </section>
</div>
{{ end }}