{{ if isset .Params "slider_image"  }}
<div class='container-fluid landing-header text-white blog-slider pt-40' style='background: linear-gradient(180deg, rgba(35,34,61,0.5) 0%, rgba(35,34,61,0.8) 79.16%, #23223D 100%), url("{{ .Params.slider_image }}"); background-size: cover; position: relative;border-bottom: 15px solid #8b8fe9;'>
  <section class="container" style='height: 100%; position: relative;'>
    <div class="row justify-content">
      <div class=" col-sm-12 justify-content px-xs-4">
        <h1 class="text-center roboto-mono blog-title-h1">{{ .Title }}</h1>
        <div class="col-12 center text-center  pl-0 pt-4">
          {{ .Description }}
        </div>
        <div class="col-12 text-center pl-0 pt-5">
          <a href="#register" class="text-center btn cta-btn cta-pink w-sm-auto">{{ .Params.btn_text }}</a>
        </div>
      </div> 
    </div>
  </section>
  <div class="row">
    
    <section class="container social pt-md-80 pb-md-60 mt-5 pb-5">
        <div class="col text-center pt-5 pb-4 pt-md-100">
            <span class="h5 text-uppercase">Loved and trusted by thousands</span>
          </div>
      <div class="row justify-content-center socialproof-icons align-items-end">
        <img src="/images/socialproof/logo-volta@2x.png" style="height: 20px;">
        <img src="/images/socialproof/logo-shelf@2x.png">
        <img src="/images/socialproof/logo-nuviad@2x.png">
        <img src="/images/socialproof/logo-autopilot@2x.png">
        <img src="/images/socialproof/logo-blowout&amp;go@2x.png">
      </div>
    </section>
  </div>
</div>

  
{{ end }}