{{ if isset .Params "slider_image"  }}
<div class='container-fluid landing-header text-white blog-slider pt-40' style='background: linear-gradient(180deg, rgba(35,34,61,0.5) 0%, rgba(35,34,61,0.8) 79.16%, #23223D 100%), url("{{ .Params.slider_image }}"); background-size: cover; position: relative;border-bottom: 15px solid #8b8fe9;'>
  <section class="container" style='height: 100%; position: relative;'>
    <div class="row justify-content">
      <div class=" col-sm-12 justify-content px-xs-4">
        <h1 class="text-center roboto-mono blog-title-h1">{{ .Title }}</h1>
        <div class="col-12 center text-center  pl-0 pt-4">
          {{ .Description }}
        </div>
        <div class="col-12 text-center pl-0 pt-5">
          <a href="#register" class="text-center btn cta-btn cta-pink w-sm-auto">{{ .Params.btn_text }}</a>
        </div>
      </div> 
    </div>
  </section>
</div>
<div class="row">
		<div class="col text-center pt-3 pb-4 pt-md-100">
			<span class="h5 text-uppercase">Loved and trusted by thousands</span>
		</div>
	</div>
  <div class='row mx-auto content-justify-center align-items-center' style='margin-bottom: 25px;'>
    <div class='col-auto mx-auto languages-icons'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/pan.png' height=100>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/cimpress.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/blowoutandgo.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/deloitte.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/conway.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/volta.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/fw.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/doublegood.png'>
    </div>
  </div>
{{ end }}