{{ define "main"}}
<div class="container-fluid">
  <div class="row align-items-center justify-content-center min-vh-75">
    <div class="col text-center">
      <h1>Main heading for careers page</h1>
      <h3 class="careers-subheading">And possibly subheading for that page</h3>
    </div>
  </div>
</div>
<div class="db-bg-primary">
  <div class="container careers-partners">
    <div class="row justify-content-center careers-partners-logos">
      <div class="col-12 col-sm text-center">Logo 1</div>
      <div class="col-12 col-sm text-center">Logo 2</div>
      <div class="col-12 col-sm text-center">Logo 3</div>
      <div class="col-12 col-sm text-center">Logo 4</div>
    </div>
  </div>
</div>
<div class="bg-white p-0">
  <div class="container container-padding">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card job-ad">
          <div class="card-body justify-content-end d-flex flex-column">
            <a href="/careers/sample-career" class="stretched-link">
              <h3>Open position title</h3>
            </a>
            <p>Position text</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card job-ad">
          <div class="card-body justify-content-end d-flex flex-column">
            <a href="/careers/sample-career" class="stretched-link">
              <h3>Open position title</h3>
            </a>
            <p>Position text</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card job-ad">
          <div class="card-body justify-content-end d-flex flex-column">
            <a href="/careers/sample-career" class="stretched-link">
              <h3>Open position title</h3>
            </a>
            <p>Position text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container container-padding">
    <div class="row justify-content-center">
      <div class="col stat">
        <div class="stat-nr">250</div>
        <div class="stat-data">new ideas per sec</div>
      </div>
      <div class="col stat">
        <div class="stat-nr">1</div>
        <div class="stat-data">brilliant idea</div>
      </div>
      <div class="col stat">
        <div class="stat-nr">54</div>
        <div class="stat-data">is just a random number</div>
      </div>
    </div>
  </div>
</div>
{{ end }}
