{{ define "main"}}
<div class="container-fluid">
  <div class="row align-items-center justify-content-center min-vh-75">
    <div class="col text-center">
      <h1>Main content page</h1>    
    </div>
  </div>
</div>
<div class="db-bg-primary">
  <div class="container careers-partners">
    <div class="row justify-content-center careers-partners-logos">
      <div class="col-12 col-sm text-center">Logo 1</div>
      <div class="col-12 col-sm text-center">Logo 2</div>
      <div class="col-12 col-sm text-center">Logo 3</div>
      <div class="col-12 col-sm text-center">Logo 4</div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>Open position title</h3>
            <p>Position text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
