{{ define "main"}}
<section class="container">
  <div class="row text-center">
    <div class="col-12 col-md-9 mx-auto text-center team-hero justify-content-md-center mt-block">
      <h1 class="mt-5 roboto-mono">We're on a mission to make software better for everyone. </h1>
      <p class='text-center mt-3 mt-md-0'></p>
    </div>
  </div>

  <div class="row imgs-fluid mt-md-5 mb-block">
    <div class="col-12 mx-auto">
      <div class='row'>
        <div class="col-md-6 mt-5">
          <h3>Full-Stack Developer</h3>
          <span>Tallinn, Estonia</span>
          <h4 class='mt-4'>What you will be doing:</h4>
          <ul>
            <li>Designing and building serverless systems</li>
            <li>Coding in JavaScript and Node.js</li>
            <li>Proactively solving technical challenges</li>
            <li>Contributing ideas to product roadmap</li>
          </ul>
          <span>We are specifically interested in cross-language engineers for whom a specific stack is just a tool to solve a problem, not the solution itself</span>

          <h4 class='mt-4'>Requirements:</h4>
          <ul style='line-height: 1.5rem;' >
            <li>Experience in JavaScript and Node.js / C++ /Java or any OO language</li>
            <li>Good English and communication skills</li>
            <li>Experience with any NoSQL (MongoDB, DynamoDB, Redis)</li>
          </ul>
          <a href='https://apply.hire.toggl.com/ZZL15E11Q7O6KPKA1V' target="_blank" class='cta-btn blue-btn mt-4 align-center d-inline-block'>Take the test</a>
        </div>
        <div class='d-none d-md-block col-md-6 justify-content-center imgs-fluid'>
          <img src='/images/reigo-rocky-dashbird.jpg' class='br-blue-shadow'>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}