{{ define "main" }}
{{ $currentPage := .  }}
<section class="container-fluid bg-white">
  <div class="row justify-content-center">
    <div class='mt-4 col-12 text-center'>
      <h1>Cloud University</h1>
    </div>
  </div>

  <div class="row">
    {{ range $subject, $taxonomy := .Site.Taxonomies.learning }}
    <div class='col-7 m-2 center mx-auto'>
      <h4>{{ substr $subject 1 | humanize | title }}</h4>
      <ul>
      {{ range $taxonomy }}
        <li><a href='{{ .Page.Permalink }}'>{{ .Params.Title }}</a></li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

