<div class="announcement" style='display:none;'>
  <p class="bold"><span class="d-none d-sm-inline">Get some Dashbird through the  
    <a href="https://aws.amazon.com/marketplace/pp/B07HFKB9VK"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-src='/images/awsmarketplace.png' height="20px"></a></p>
  <br>
  <p>Easier procurement and up to 36 month commitments with discounts. <a href="https://aws.amazon.com/marketplace/pp/B07HFKB9VK" target='_blank'>Learn more here.</a></p>
</div>

<div class="announcement">
  <p><a href="https://zoom.us/webinar/register/WN_DMy0y4OgRUi-PTmpGsEvYg" target="_blank">Dashbird OnBoarding Webinar (this Friday): best practices and open Q&A session - Register here!</a></p>
</div>

<nav class="navbar navbar-light navbar-expand-md m-0 p-0">
  <a class="navbar-brand" href="/">
    <img src="/images/dashbird-logo.png" class="logo-image">
    <img src="/images/dashbird-wordmark@2x.png" style='height: 23px; margin-left: 0px;' class='logo-image align-bottom pb-1'>
  </a>

  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navigation">
    <span> </span>
    <span> </span>
    <span> </span>
  </button>

{{ if not .Params.exclude_menu }}
  <div class="collapse navbar-collapse " id="navigation">
    <ul class="nav navbar-nav mt-3 mt-md-0 ml-md-auto">
      <li class="nav-item d-block d-md-none">
        <a class="nav-link" href="/">Home</a>
      </li>
      {{ $currentPage := .  }}
			{{ range .Site.Menus.main }}
      <li class="nav-item {{ .Identifier }}">
        <a class="nav-link"
        href="{{ .URL }}">
        {{ .Name }} 
      </a>
      </li>
      {{ end }}
      <li class="nav-item">
        <a class="nav-link" href="https://app.dashbird.io">Log in</a>
      </li>
      <li class="nav-item cta-btn cta-pink p-0 ml-3 d-block d-md-none">
        <a class="nav-link" href="/register">Sign up <img src="/images/ic-arrow.svg" class="ic-arrow"></a>
      </li>
    </ul>
  </div>
  <a href="/register" class='corner-btn blue text-white bold pl-4 pr-4 d-none d-md-block sign-up'>
    Sign up <img src="/images/ic-arrow.svg" class="ic-arrow">
  </a>
{{ else }}
  <a href="/register" class='ml-md-auto corner-btn blue text-white bold pl-4 pr-4 d-none d-md-block sign-up'>Get Started Free<img src="/images/ic-arrow.svg" class="ic-arrow"></a>
{{ end }}
</nav>
