<div class="most-popular-wrap">
  <section class="container overflow-hidden most-popular" style='padding-top: 70px; padding-bottom: 70px;'>
    <div class="row justify-content-center">
      <div class="col-12 mt-3">
        <div class="row">
          <h1 class='col text-left my-md-125 blog-news text-center-mobile mb-md-7'><span class="h4 underlined roboto-mono">Most popular</span></h1>
        </div>
        <div class="row carousel carousel-multi slide" id="carousel-example-multi">
          <div class="carousel-inner car-4">
          {{ range $index, $value := (where .Site.Pages.ByDate.Reverse "Params.featpop" "most-popular")  | first 10}}
          <div class="col-md-3 col-12 blog-item mb-125 carousel-item {{ if (eq $index 0) }}active{{ end }} ">
            <a href="{{ .Permalink  }}" class="blog-most-pop-item">
              <div class="popular-thumb-wrap">
                <img class="popular-thumb" src="/images/blog/{{.Params.frontImage}}" width='340'>
              </div>
              <div class="col-12  pt-md-3 py-3_5 ">
                <div class="row">
                  <div class="blog-category mb-2 d-none d-md-block">
                    {{ range .Params.blog }}
                    <span class='blog-categ-spam categ-{{  trim (replace (lower .) "." "") " " }}'>{{ . }}</span>
                    {{ end }}
                  </div>
                  <h2 class="blog-title mb-md-25 h-xs-auto"><span class="pt-20 text-light-gray blog-title">{{ .Title }}</span></h2>
                </div>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
        <!-- Controls -->
        <a class="carousel-control-prev" href="#carousel-example-multi" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carousel-example-multi" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
</div>