<section class="container-fluid social" style="margin-top: 30px;">
	<div class="row">
		<div class="col text-center pt-3 pb-4 pt-md-100">
			<span class="h5 text-uppercase">Loved and trusted by thousands</span>
		</div>
	</div>
  <div class='row mx-auto content-justify-center align-items-center' style='margin-bottom: 25px;'>
    <div class='col-auto mx-auto languages-icons'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/pan.png' height=100>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/cimpress.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/blowoutandgo.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/deloitte.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/conway.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/volta.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/fw.png'>
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='/images/socialproof/doublegood.png'>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-12 col-md-4 mt-4 mb-4'>
      <p class="text-center slab">“Between the Overview page and Slack integration, Dashbird has given Volta increased transparency and confidence in our infrastructure. It is also the easiest tool out there for diving into logs for a specific invocation, which has decreased our time to diagnosis drastically.”</p>
      <p class="quote text-center">- Caleb Brewer, Lead Software Engineer</p>
    </div>
    <div class='col-12 col-md-4 mt-4 mb-4'>
<p class="text-center small slab">“Dashbird is great for detecting issues in large scale Serverless systems. We use it for troubleshooting and optimising our applications daily. ”</p>
      <p class="quote text-center">- Mario Tosso, Software Engineer</p>
    </div>

  </div>
</section>


